misc/config_tools/schema/types.xsd

<?xml version="1.0"?>
<xs:schema xml:id="root"
	   xmlns:xs="http://www.w3.org/2001/XMLSchema"
	   xmlns:acrn="https://projectacrn.org">

<xs:simpleType name="Boolean">
  <xs:annotation>
    <xs:documentation>A Boolean value, written as ``y`` or ``n``.</xs:documentation>
  </xs:annotation>
  <xs:restriction base="xs:string">
    <xs:enumeration value="y" />
    <xs:enumeration value="n" />
  </xs:restriction>
</xs:simpleType>

<xs:simpleType name="EnablementType">
  <xs:annotation>
    <xs:documentation>A string with value: ``Enable`` or ``Disable``.</xs:documentation>
  </xs:annotation>
  <xs:restriction base="xs:string">
    <xs:enumeration value="Enable" />
    <xs:enumeration value="Disable" />
  </xs:restriction>
</xs:simpleType>

<xs:simpleType name="HexFormat">
  <xs:annotation>
    <xs:documentation>An Integer value in hexadecimal format (with a leading ``0x``).</xs:documentation>
  </xs:annotation>
  <xs:restriction base="xs:string">
    <xs:pattern value="0[Xx][0-9A-Fa-f]+|0" />
  </xs:restriction>
</xs:simpleType>

<xs:simpleType name="None">
  <xs:restriction base="xs:string">
    <xs:pattern value="[*]{0}" />
  </xs:restriction>
</xs:simpleType>

<xs:simpleType name="BuildType">
  <xs:annotation>
    <xs:documentation>A string with value ``Release`` or ``Debug`` that indicates the build type of the hypervisor.</xs:documentation>
  </xs:annotation>
  <xs:restriction base="xs:string">
    <xs:enumeration value="release">
      <xs:annotation acrn:title="Release" />
    </xs:enumeration>
    <xs:enumeration value="debug">
      <xs:annotation acrn:title="Debug" />
    </xs:enumeration>
  </xs:restriction>
</xs:simpleType>

<xs:simpleType name="KernLoadAddr">
  <xs:annotation>
    <xs:documentation>Either empty, or an Integer value in hexadecimal format.</xs:documentation>
  </xs:annotation>
  <xs:union memberTypes="None HexFormat" />
</xs:simpleType>

<xs:simpleType name="KernEntryAddr">
  <xs:annotation>
    <xs:documentation>Either empty, or an Integer value in hexadecimal format.</xs:documentation>
  </xs:annotation>
  <xs:union memberTypes="None HexFormat" />
</xs:simpleType>

<xs:simpleType name="MaxMsixTableNumType">
  <xs:annotation>
    <xs:documentation>Integer from 1 to 2048.</xs:documentation>
  </xs:annotation>
  <xs:restriction base="xs:integer">
    <xs:minInclusive value="1" />
    <xs:maxInclusive value="2048" />
  </xs:restriction>
</xs:simpleType>

<xs:simpleType name="MaxMsixTableSizeType">
  <xs:annotation>
    <xs:documentation>Either empty, or an Integer value between 1 and 2048.</xs:documentation>
  </xs:annotation>
  <xs:union memberTypes="None MaxMsixTableNumType" />
</xs:simpleType>

<xs:simpleType name="MemorySizeType">
  <xs:annotation>
    <xs:documentation>An Integer value in hexadecimal format.</xs:documentation>
  </xs:annotation>
  <xs:union memberTypes="HexFormat" />
</xs:simpleType>

<xs:simpleType name="LogLevelType">
  <xs:annotation>
    <xs:documentation>An Integer from 0 to 5 representing log message
severity and intent:

- ``0: None``: No log at all.
- ``1: Critical``: Messages about critical errors that cause the hypervisor to crash or hang (almost) immediately.
- ``2: Error``: Messages about significant errors that affect the main functions (for example, launch of VMs) of ACRN hypervisor.
- ``3: Warning``: Messages about detected abnormalities that have local effects on certain features.
- ``4: Information``: Informational messages
- ``5: Debug``: Debug-level messages

A lower value has a higher severity. Log messages with a
higher value (lower severity) are discarded.</xs:documentation>
  </xs:annotation>
  <xs:restriction base="xs:string">
    <xs:enumeration value="0">
      <xs:annotation acrn:title="0: None" />
    </xs:enumeration>
    <xs:enumeration value="1">
      <xs:annotation acrn:title="1: Critical" />
    </xs:enumeration>
    <xs:enumeration value="2">
      <xs:annotation acrn:title="2: Error" />
    </xs:enumeration>
    <xs:enumeration value="3">
      <xs:annotation acrn:title="3: Warning" />
    </xs:enumeration>
    <xs:enumeration value="4">
      <xs:annotation acrn:title="4: Information" />
    </xs:enumeration>
    <xs:enumeration value="5">
      <xs:annotation acrn:title="5: Debug" />
    </xs:enumeration>
  </xs:restriction>
</xs:simpleType>

<xs:simpleType name="SchedulerType">
  <xs:annotation>
    <xs:documentation>A string specifying the scheduling option:

- ``No-Operation (NOOP)``: The No-Operation (NOOP) scheduler means there is a
  strict one-to-one mapping between vCPUs and pCPUs.
- ``Borrowed Virtual Time``: The Borrowed Virtual Time (BVT) scheduler is a
  virtual time-based scheduling algorithm. It dispatches the runnable thread with the
  earliest effective virtual time.
- ``Priority Based Scheduling``: The priority based scheduler supports vCPU scheduling based on pre-configured priorities.

Read more about the available scheduling options in :ref:`cpu_sharing`.</xs:documentation>
  </xs:annotation>
  <xs:restriction base="xs:string">
    <xs:enumeration value="SCHED_NOOP">
      <xs:annotation acrn:title="No-Operation (NOOP)" />
    </xs:enumeration>
    <xs:enumeration value="SCHED_IORR">
      <xs:annotation acrn:views="" />
    </xs:enumeration>
    <xs:enumeration value="SCHED_BVT">
      <xs:annotation acrn:title="Borrowed Virtual Time" />
    </xs:enumeration>
    <xs:enumeration value="SCHED_PRIO">
      <xs:annotation acrn:title="Priority Based Scheduling" />
    </xs:enumeration>
  </xs:restriction>
</xs:simpleType>

<xs:simpleType name="PriorityType">
  <xs:annotation>
    <xs:documentation>Two priorities are supported for priority based scheduler:

- ``PRIO_LOW``: low priority for vCPU scheduling.
- ``PRIO_HIGH``: high priority for vCPU scheduling.
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base="xs:string">
    <xs:enumeration value="PRIO_LOW" />
    <xs:enumeration value="PRIO_HIGH" />
  </xs:restriction>
</xs:simpleType>

<xs:simpleType name="SerialConsoleType">
  <xs:restriction base="xs:string">
    <xs:pattern value=".*ttyS[\d]+" />
  </xs:restriction>
</xs:simpleType>

<xs:simpleType name="SerialConsoleOptions">
  <xs:annotation>
    <xs:documentation>Either empty or a string, such as ``/dev/ttyS0``.</xs:documentation>
  </xs:annotation>
  <xs:union memberTypes="None SerialConsoleType" />
</xs:simpleType>

<xs:simpleType name="VMNameType">
  <xs:annotation>
    <xs:documentation>A string of up to 15 letters, digits, ``_``, or ``-``.</xs:documentation>
  </xs:annotation>
  <xs:restriction base="xs:string">
    <xs:pattern value="([a-zA-Z0-9_\-]){1,15}" />
  </xs:restriction>
</xs:simpleType>

<xs:simpleType name="VBDFType">
  <xs:annotation>
    <xs:documentation>A string with up to two hex digits, a ``:``, two hex digits, a ``.``, and one digit between 0-7.</xs:documentation>
  </xs:annotation>
  <xs:restriction base="xs:string">
    <xs:pattern value="[0-9A-Fa-f]{1,2}:[0-1][0-9A-Fa-f].[0-7]" />
  </xs:restriction>
</xs:simpleType>

<xs:simpleType name="ProviderType">
  <xs:annotation>
    <xs:documentation>A string with value ``Hypervisor`` or ``Device Model``.</xs:documentation>
  </xs:annotation>
  <xs:restriction base="xs:string">
    <xs:enumeration value="Hypervisor" />
    <xs:enumeration value="Device Model" />
  </xs:restriction>
</xs:simpleType>

<xs:complexType name="IVSHMEMVM">
  <xs:sequence>
   <xs:element name="VM_NAME" type="VMNameType">
     <xs:annotation acrn:title="Shared VMs">
       <xs:documentation>Name of the VM that uses this shared memory region.</xs:documentation>
     </xs:annotation>
   </xs:element>
   <xs:element name="VBDF" type = "VBDFType">
     <xs:annotation acrn:title="Virtual BDF" acrn:defaults="[f'00:{i:02x}.0' for i in range(8, 16)]" acrn:unique-among="//IVSHMEM_VM[VM_NAME=$parent/VM_NAME]/VBDF/text()">
       <xs:documentation>Virtual BDF (Bus Device Function) is automatically assigned and can be changed if needed. Set in Hex.</xs:documentation>
     </xs:annotation>
   </xs:element>
  </xs:sequence>
</xs:complexType>

<xs:complexType name="IVSHMEMVMS">
  <xs:annotation>
    <xs:documentation>A sequence of Shared VM names and their Virtual BDF values.</xs:documentation>
  </xs:annotation>
  <xs:sequence>
   <xs:element name="IVSHMEM_VM" type="IVSHMEMVM" maxOccurs="unbounded">
     <xs:annotation>
       <xs:documentation>Select all VMs that use the shared memory region.</xs:documentation>
     </xs:annotation>
   </xs:element>
  </xs:sequence>
</xs:complexType>

<xs:simpleType name="IVSHMEMSize">
  <xs:annotation>
    <xs:documentation>An Integer with value a power of 2 between 2 and 512.</xs:documentation>
  </xs:annotation>
  <xs:restriction base="xs:integer">
    <xs:enumeration value="2" />
    <xs:enumeration value="4" />
    <xs:enumeration value="8" />
    <xs:enumeration value="16" />
    <xs:enumeration value="32" />
    <xs:enumeration value="64" />
    <xs:enumeration value="128" />
    <xs:enumeration value="256" />
    <xs:enumeration value="512" />
  </xs:restriction>
</xs:simpleType>

<xs:complexType name="IVSHMEMRegionType">
  <xs:all>
    <xs:element name="NAME">
      <xs:annotation acrn:title="Name">
        <xs:documentation>Name of the shared memory region.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
  <xs:annotation>
    <xs:documentation>A string with no spaces.</xs:documentation>
  </xs:annotation>
	<xs:restriction base="xs:string">
	  <xs:pattern value="\w+" />
	</xs:restriction>
      </xs:simpleType>
    </xs:element>
    <xs:element name="PROVIDED_BY" type="ProviderType" default="Hypervisor">
      <xs:annotation acrn:title="Emulated by">
        <xs:documentation>Whether the shared memory region is emulated by the hypervisor or Device Model.</xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="IVSHMEM_SIZE" type="IVSHMEMSize" default="2">
      <xs:annotation acrn:title="Size (MB)">
        <xs:documentation>Select the size of the shared memory region
in megabytes. The value should be a power of 2
and no more than 512.</xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="IVSHMEM_VMS" type="IVSHMEMVMS">
      <xs:annotation acrn:title="Shared VMs">
        <xs:documentation>Select all VMs that use the shared memory region.</xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:all>
</xs:complexType>

<xs:complexType name="IVSHMEMInfo">
  <xs:sequence>
    <xs:element name="IVSHMEM_REGION" type="IVSHMEMRegionType" minOccurs="0" maxOccurs="unbounded">
      <xs:annotation>
        <xs:documentation>Create a memory region for VMs to share: specify its name, size, and associated VMs.</xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>

<xs:complexType name="RDTType">
  <xs:sequence>
    <xs:element name="RDT_ENABLED" type="Boolean" default="n">
      <xs:annotation acrn:title="Intel Resource Director Tech">
        <xs:documentation>Enable Intel Resource Director Technology (RDT). If
the board hardware does not support
RDT, setting this option to ``y`` is ignored.</xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="CDP_ENABLED" type="Boolean" default="n">
      <xs:annotation acrn:title="Code and Data Prioritization">
        <xs:documentation>Enable Code and Data Prioritization (CDP). CDP provides control over code and data placement in cache to improve an application's real-time performance.</xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="VCAT_ENABLED" type="Boolean" default="n">
      <xs:annotation acrn:title="Virtual Cache Allocation Tech">
        <xs:documentation>Enable virtualization of the Cache Allocation Technology (CAT) feature in RDT. CAT enables you to allocate cache to VMs, providing isolation to avoid performance interference from other VMs.</xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="CLOS_MASK" type="xs:string"  minOccurs="0" maxOccurs="unbounded">
      <xs:annotation>
        <xs:documentation>Specify the cache capacity bitmask for the CLOS; only continuous '1' bits
are allowed. The value will be ignored when hardware does not support RDT.
This option takes effect only if the Hypervisor RDT feature is enabled.
As the vcpu_clos option specifies the index of the CLOS to be associated with the given vCPU,
this CLOS mask option of that CLOS would impact the performance of the given vCPU.</xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="MBA_DELAY" type="xs:string" minOccurs="0"  maxOccurs="unbounded">
      <xs:annotation>
        <xs:documentation>Memory Bandwidth Allocation delay value.</xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>

<xs:complexType name="SSRAMInfo">
  <xs:sequence>
    <xs:element name="SSRAM_ENABLED" type="Boolean" default="n">
      <xs:annotation acrn:title="Software SRAM">
        <xs:documentation>Enable Software SRAM. This feature reserves memory buffers as always-cached memory to improve an application's real-time performance.</xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>

</xs:schema>
